<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
        {% block title %}
            name of page
        {% endblock %}
    </title>
</head>
<body>
	<div class="title_all">
    	<div class="title" style="">ANONIM - { мои задачи }</div>
	</div>
	<style type="text/css">
		body{
			
			font-family: Arial, Helvetica, sans-serif;
			padding: 0;
			margin: 0;
		}

		.title_all{
			text-align: center; 
			font-size: 30px;
			padding: 25px 0;
			box-shadow: 0px 2px 9px  rgb(120, 2, 150);   
		}
		.title{
			border-radius: 6px;
			display: inline-block;
			box-shadow: 0px 3px 9px rgb(96, 0, 121);
		}

	</style> 
    
	{% block content %}
    	some text
	{% endblock %}
</body>
</html>